<!-- <app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item">
          <a routerLink="my-profile" routerLinkActive="active">My Profile</a>
        </li>
        <li class="list-group-item">
          <a routerLink="payments-history" routerLinkActive="active"
            >Payments History</a
          >
        </li>
        <li class="list-group-item">
          <a routerLink="settings" routerLinkActive="active">Settings</a>
        </li>
        <li class="list-group-item">
          <a routerLink="change-password" routerLinkActive="active"
            >Change Password</a
          >
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
