.btn {
  height: 56px;
  border-bottom: 0.7px solid #e3e2e2 !important;
  padding: 16px;
  text-align: left;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #4b4a47;
}
.btn-group-vertical {
  width: 293px;
  border: 1px;
}
.MoneyTransferSection {
  background-image: url(/MoneyTransferBg.png);
  height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  height: 404px;
  top: 91.22px;
  left: -0.04px;
  gap: 0px;
  opacity: 0px;
}
h2 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  text-align: left;
}
.info {
  padding: 0;
  margin: 0;
  display: flex;
}
li {
  margin-right: 20px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.myAccount {
  color: #871e35;
}
.containerMine {
  display: flex;
  width: 1248px;
  // height: 718px;
  min-height: 500px;
  top: 562px;
  justify-content: center;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
.infoSection {
  margin: 0;
  min-width: 800px; // TODO: MAYBE REMOVE AND LET IT BE FILL
}
.btn-group-vertical {
  display: inline;
  margin-right: 20px;
}
