.paymentHistory {
  display: flex;
  width: fill;
  height: Hug (144px) px;
  flex-direction: column;
  border: 1px 0px 0px 0px;
  border: 1px solid #e3e2e2;
  padding: 10px;
}
.previousPayment {
  width: Fill;
  display: flex;
  // height: 56px;
  padding: 16px 10px 0px 10px;
  gap: 0px;
  border-radius: 8px 8px 0px 0px;
  justify-self: space-between;
  opacity: 0px;
  background: #f3e9eb;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #24221e;
  .btn {
    // align-self: flex-end;
    width: 25px;
    height: 25px;
    background-image: url("/copy.png");
  }
}
.paymentDetails {
  display: flex;
  width: Fill (811px) px;
  height: Hug (88px) px;
  padding: 16px 0px 0px 0px;
  gap: 0px;
  border-radius: 0px 0px 8px 8px;
  justify-content: space-between;
  opacity: 0px;
  background: #ffffff;
}
.data {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px; // Adjust margin as needed
}
.leftaligner {
  margin-left: 500px;
}
.accountDetails {
  width: Fixed (359px) px;
  height: Fixed (56px) px;
  gap: 0px;
  justify-self: space-between;
  opacity: 0px;

  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.accountValues {
  width: Hug (163px) px;
  height: Fixed (56px) px;
  gap: 0px;
  justify-self: space-between;
  opacity: 0px;

  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: right;
}
.recipientName {
  color: #4b4a47;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
