.btn {
  background-color: #871e35;
  width: Hug (174px) px;
  height: Hug (56px) px;
  padding: 16px 32px 16px 32px;
  gap: 0px;
  border-radius: 6.5px;
  opacity: 0px;
  color: #fff;
}
.h2 {
  width: 117px;
  height: 36px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: #24221e;
}
.changePasswordWord {
  color: #871e35;
  border-bottom: 0.7px solid #871e35 !important;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}
.profile {
  color: #6e6d6b;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}
#Password {
  width: 368px;
  height: 56px;
  padding: 16px 0px 0px 0px;
  gap: 10px;
  border-radius: 8px;
  border: 1.5px 0px 0px 0px;
  opacity: 0px;
}
.changePassword {
  border: 1px 0px 0px 0px;
  border: 1px solid #e3e2e2;
  padding: 10px;
}
