<div class="changePassword">
  <h2>Settings</h2>
  <div class="d-flex gap-4">
    <h2 class="profile">Profile</h2>
    <h2 class="changePasswordWord">Change Password</h2>
  </div>
  <div class="d-flex gap-3">
    <div class="form-group">
      <label class="text-left" for="Password">Current Password</label>
      <input
        id="Password"
        class="form-control"
        name="Password"
        placeholder="Type Here"
        [(ngModel)]="oldPassword"
      />
    </div>
    <div class="form-group">
      <label class="text-left" for="Password">New Password</label>
      <input
        id="newPassword"
        class="form-control"
        name="newPassword"
        placeholder="Type Here"
        [(ngModel)]="newPassword"
      />
    </div>
  </div>
  <button class="btn mt-4" type="submit" (click)="onSubmit()">
    Update Password
  </button>
</div>
