.container {
  max-width: 500px;
  margin: auto;
  text-align: left;
  padding: 2rem;
}

.progress-steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.faves {
  color: #871e35;
}
h2 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #871e35;
  color: white;
}
.fav-list-popup {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.favorites-list-title {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.fav-list-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.modal-body {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.bank-icon {
  width: 40px;
  height: 40px;
  background-color: #f4f4f4;
  border-radius: 50%;
}

.bank-icon-img {
  width: 20px;
  height: 20px;
}

.recep-name {
  font-weight: 600;
  color: #3c3a37;
}

.body-regular {
  color: #898886;
}

.btn-close {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
}
