.container {
  max-width: 500px;
  margin: auto;
  text-align: left;
  padding: 2rem;
}

.progress-steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.btn {
  width: 100%;
  padding: 0.75rem;
  background-color: #871e35;
  color: white;
}
