.signout-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

  .notification {
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    .card-body {
      padding: 20px;

      h3 {
        font-size: 20px;
        margin-bottom: 10px;
      }

      .form-group {
        margin-bottom: 15px;

        label {
          display: block;
          margin-bottom: 5px;
          font-weight: 600;
        }

        input {
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
      }

      .btn-block {
        background-color: #871e35;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}
.btn {
  width: 100%;
}
