.HelpIntroSection {
  background-image: url(/MoneyTransferBg.png);
  height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  height: 404px;
  top: 91.22px;
  left: -0.04px;
  gap: 0px;
  opacity: 0px;
}
