<section class="HelpIntroSection px-4">
  <div>
    <h2>Help</h2>
    <ul class="inline-list info ms-3">
      <li>Home</li>
      <li><span class="myAccount">Help</span></li>
    </ul>
  </div>
  <div>
    <img src="/MoneyTransfer2.svg" alt="Image of wallet" />
  </div>
</section>
<section class="HelpSection">
  <h2>Need Help?</h2>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  </p>
  <div class="d-flex flex-column">
    <div class="d-flex">
      <img src="/email.svg" alt="envelope" />
      <img src="/phone.png" alt="phone" />
    </div>
    <div class="d-flex">
      <p>Send Email</p>
      <p>Call us</p>
    </div>
  </div>
</section>
