<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
  rel="stylesheet"
/>

<section class="custom-section">
  <div class="content">
    <p class="description">Simple.Quick.Secure</p>
    <h2 class="heading mb-1">Send Money</h2>
    <h2 class="heading">Anywhere, Instantly</h2>
    <p class="description">
      Fast, secure, and affordable international money transfers. Get started in
      minutes
    </p>
    <button class="create-account-btn">{{ ButtonContent }}</button>
  </div>
  <div class="form-container bg-white p-4 px-5 rounded-3">
    @if(LoggedIn){
    <div class="balance d-flex flex-column">
      <small class="body-medium balance-text">Current Balance</small>
      <small class="balance-amount">{{ balance }}{{ currency }}</small>
    </div>
    }
    <form>
      <div class="form-group">
        <label for="send-amount">Send amount</label>
        <input
          type="text"
          id="send-amount"
          class="form-control"
          placeholder="Enter amount"
        />
      </div>
      <p class="delivery-time">
        <span class="opacity-75">Delivery Time : </span>By May 20th
      </p>
      <button type="submit" class="btn continue-btn text-center w-100">
        Continue
      </button>
      <p class="terms">
        By Clicking Continue, I agree with
        <a>Terms & Policy</a>
      </p>
    </form>
  </div>
</section>
