footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  background-color: #521220;
  color: #fff;
  padding-bottom: 10px;

  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin: 10px;
  }
}
