@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

.navbar-brand {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
}

.navbar-nav .nav-link {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
}

.nav-btn {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
}
.btn {
  color: white;
  background-color: #871e35;
}
