<div class="containerx text-center">
  <h6 class="text-danger">Getting Started</h6>
  <h2>Lorem Ipsum is simply dummy text of the printing.</h2>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <img
          src="/create-account-icon.png"
          alt="Create Account"
          class="card-img-top mx-auto mt-3"
        />
        <div class="card-body">
          <h5 class="card-title text-danger">1. Create Account</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          src="/confirmation-icon.png"
          alt="Confirmation"
          class="card-img-top mx-auto mt-3"
        />
        <div class="card-body">
          <h5 class="card-title text-danger">2. Confirmation</h5>
          <p class="card-text">
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          src="/payment-icon.svg"
          alt="Payment"
          class="card-img-top mx-auto mt-3"
        />
        <div class="card-body">
          <h5 class="card-title text-danger">3. Payment</h5>
          <p class="card-text">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
