<div class="profile">
  <h2>My Profile</h2>
  <h1 class="balance">
    10000EGP <span class="balance-text align-middle">Balance</span>
  </h1>
  <div class="profile-details">
    <p class="data">
      <strong class="variables">First Name :</strong
      ><span class="value">{{ name }}</span>
    </p>
    <p class="data">
      <strong class="variables">Email :</strong
      ><span class="value">{{ email }}</span>
    </p>
    <p class="data">
      <strong class="variables">Phone :</strong
      ><span class="value">{{ phone }}</span>
    </p>
    <p class="data">
      <strong class="variables">Gender :</strong
      ><span class="value">{{ gender }}</span>
    </p>
  </div>
</div>
