<div class="container">
  <div class="progress-steps">
    <img src="/Step1.svg" alt="" />
    <img src="/LineRed.svg" alt="" />
    <img src="/Step2Red.svg" alt="" />
    <img src="/LineRed.svg" alt="" />
    <img src="/Step3Red.svg" alt="" />
  </div>
  <div class="progress-steps gap-5">
    <p class="fw-bold">Amount</p>
    <p class="fw-bold">confirmation</p>
    <p class="fw-bold">Payement</p>
  </div>
  <img src="/success.png" alt="Check image" />
  <h2>Your transfer was successful!</h2>
  <p>1000EGP</p>
  <div class="card">
    <div class="card-body">
      <h5>From</h5>
      <p>senderName</p>
      <p>senderAccount</p>
    </div>
  </div>
  <img class="my-2" src="/backAndForthArrow.png" alt="backAndForthArrow" />
  <div class="card">
    <div class="card-body">
      <h5>To</h5>
      <p>recipientName</p>
      <p>recipientAccount</p>
    </div>
  </div>
  <P>Transfer amount: </P>
  <p>Amount</p>
  <button class="btn" routerLink="/">Back To Home</button>
  <!-- <a class="nav-link" aria-current="page" routerLink="/money-transfer"
            >Money Transfer</a
          > -->
  <button class="btn btn-outline-secondary">Favorites</button>
</div>
