<div class="container">
  <div class="progress-steps">
    <img src="/Step1.svg" alt="" />
    <img src="/LineRed.svg" alt="" />
    <img src="/Step2Red.svg" alt="" />
    <img src="/LineGrey.svg" alt="" />
    <img src="/Step3Grey.svg" alt="" />
  </div>
  <div class="progress-steps gap-5">
    <p class="fw-bold">Amount</p>
    <p class="fw-bold">confirmation</p>
    <p>Payment</p>
  </div>
  <h2>Confirm your details</h2>
  <div class="card">
    <div class="card-body">
      <h5>From</h5>
      <p>{{ senderName }}</p>
      <p>{{ senderAccount }}</p>
    </div>
  </div>
  <img class="my-2" src="/backAndForthArrow.png" alt="backAndForthArrow" />
  <div class="card">
    <div class="card-body">
      <h5>To</h5>
      <p>{{ recipientName }}</p>
      <p>{{ recipientAccount }}</p>
    </div>
  </div>
  <p>Total amount: {{ amount }} EGP</p>
  <button class="btn" (click)="makeTransfer()">Confirm</button>
  <button
    class="btn btn-outline-secondary"
    (click)="changeStateEvent('amount')"
  >
    Back
  </button>
</div>
